<?xml version="1.0" encoding="UTF-8"?>
<query>
	<GETKEYS>
		/* O26S42 NUI 3DCommMapper.getKeys 공통코드조회 by 김경식   */
		select
			cd_tp		/* 코드유형명 */
			, cd_v		/* 코드값 */
			, cd_nm		/* 코드명 */
			, cd_expl1	/* 코드설명1 */
			, cd_expl2	/* 코드설명2 */
		from
			posfaci.tb_o26_scom100
		where
			cd_tp = '%s'
	</GETKEYS>
	<GETL1CMSALARM>
		/* O26S42 NUI 3DCommMapper.getL1CMSAlarm CMS알람조회 by 김경식   */
		with tm3DEqpMap as (
		
			select
				cd_expl2 as obj_id
				, cd_expl4 as prc_code
				, cd_expl3 as asset_code
			from
				posfaci.tb_o26_scom100
			where
				cd_tp = '3D_OBJECT_TP'
		
		), tmMst3DObj as (
		
			select
				cd_expl2 as obj_id
				, cd_expl2 as seq_no
				, cd_nm as obj_nm
				, cd_expl6 as l1_gid
			from
				posfaci.tb_o26_scom100
			where
				cd_tp = '3D_OBJECT_TP'
				and cd_expl6 is not null
		
		
		), trModRes AS (
		
			select
				T1.eqp_stat_pcg_mdl_s_id			/* 설비상태예지설정ID */
				, T1.eqp_stat_pcg_rst_tp		/* 설비상태예지결과구분 */
				, T1.eqp_stat_pcg_rst_ac_tp		/* 설비상태예지결과조치구분 */
				, T1.eqp_stat_pcg_rst_gen_dt	/* 설비상태예지결과발생일시 */
				, T2.eqp_stat_id				/* 설비상태ID */
				, T3.eqp_ast_cd					/* 설비Asset코드 */
				, T3.eqp_stat_nm				/* 설비상태명 */
			from
				posfaci.tb_o26_sesp050	T1
				left join
				posfaci.tb_o26_sesp040	T2
				on T1.eqp_stat_pcg_mdl_s_id = T2.eqp_stat_pcg_mdl_s_id
				left join
				posfaci.tb_o26_sesp020	T3
				on T2.eqp_stat_id = T3.eqp_stat_id
			where
				/* posfaci.tb_o26_sesp050 테이블에는 과거 데이터 밖에 없다. */
				/*T1.eqp_stat_pcg_rst_gen_dt >= current_timestamp - interval '24 hour'*/
				T1.eqp_stat_pcg_rst_gen_dt >= current_date	/* 오늘자 데이터만 가져 올수 있도록 변경(20170920) */
				/*T1.eqp_stat_pcg_dt <![CDATA[ >= ]]> '2017-05-26 12:00:00' and T1.eqp_stat_pcg_dt <![CDATA[ <= ]]> '2017-05-26 24:00:00'*/
		
		), getL1AlarmStr as (
			select
				decode(b.obj_id, NULL, '0', '1') alarm_yn
				, a.seq_no
				, nvl(b.eqp_stat_pcg_mdl_s_nm,  '') model_name
			from
				tmMst3DObj a
				left join 
				(
					select
						P2.OBJ_ID
						, P1.eqp_stat_pcg_mdl_s_id
						, row_number() over(partition by P2.OBJ_ID ORDER BY P2.obj_id, P1.eqp_stat_pcg_rst_gen_dt DESC) row_num
						, P3.eqp_stat_pcg_mdl_s_nm
					from
						trModRes 	P1
						left join
						tm3DEqpMap	P2
						on P1.eqp_ast_cd = P2.ASSET_CODE
						left join
						posfaci.tb_o26_sesp040	P3
						on P1.eqp_stat_pcg_mdl_s_id = P3.eqp_stat_pcg_mdl_s_id
					where
						P1.eqp_stat_pcg_rst_ac_tp = '1'
						and eqp_stat_pcg_rst_tp in ( '3', '4' )
				) b
				on a.OBJ_ID = b.OBJ_ID
			where
				a.L1_GID = 1
			GROUP BY
			   decode(b.obj_id,  NULL, '0', '1'), a.seq_no, nvl(b.eqp_stat_pcg_mdl_s_nm, '')
		)
		select
			string_agg(alarm_yn, '' order BY seq_no)
			|| '@@' || 
			string_agg(model_name,'||' ORDER by seq_no)
			|| '||' as alarm_str
		from
			getL1AlarmStr
	</GETL1CMSALARM>
	<GETL2CMSALARM>
		/* O26S42 NUI 3DCommMapper.getL2CMSAlarm CMS알람조회 by 김경식   */
		with tm3DEqpMap as (
		
			select
				cd_expl2 as obj_id
				, cd_expl4 as prc_code
				, cd_expl3 as asset_code
			from
				posfaci.tb_o26_scom100
			where
				cd_tp = '3D_OBJECT_TP'
		
		), tmL2ObjMap as (
		
			with groupTp as (
				select
					cd_nm as groupNm
					, cd_expl1 as sortIdx
					, cd_expl2 as groupId
					, cd_expl3 as assetCode
					, cd_expl4 as fairNm
				from
					posfaci.tb_o26_scom100
				where
					cd_tp = '3D_GROUP_TP'
			), objTp as (
			
				select
					cd_nm as objectNm
					, cd_expl1 as sortIdx
					, cd_expl2 as objectId
					, cd_expl3 as assetCode
					, cd_expl4 as fairNm
					, cd_expl5 as groupId
				from
					posfaci.tb_o26_scom100
				where
					cd_tp = '3D_OBJECT_TP'
			)
			select distinct
				P1.groupId		as l2_gid
				, P2.objectId	as obj_id
				, P1.groupNm	as l2_gnm
				, P2.objectNm	as obj_nm
			from
				groupTp		P1
				left join
				objTp		P2
				on P1.groupId = P2.groupId
			order by
				cast(P1.groupId as int)
		
		), inVal as (
		
			select '%s'::text as l2_gid from dual		/* 사용자 입력값 */
			
		), trModRes AS (
		
			select
				T1.eqp_stat_pcg_mdl_s_id			/* 설비상태예지설정ID */
				, T1.eqp_stat_pcg_rst_tp		/* 설비상태예지결과구분 */
				, T1.eqp_stat_pcg_rst_ac_tp		/* 설비상태예지결과조치구분 */
				, T1.eqp_stat_pcg_rst_gen_dt	/* 설비상태예지결과발생일시 */
				, T2.eqp_stat_id				/* 설비상태ID */
				, T3.eqp_ast_cd					/* 설비Asset코드 */
				, T3.eqp_stat_nm				/* 설비상태명 */
			from
				posfaci.tb_o26_sesp050	T1
				left join
				posfaci.tb_o26_sesp040	T2
				on T1.eqp_stat_pcg_mdl_s_id = T2.eqp_stat_pcg_mdl_s_id
				left join
				posfaci.tb_o26_sesp020	T3
				on T2.eqp_stat_id = T3.eqp_stat_id
			where
				/* posfaci.tb_o26_sesp050 테이블에는 과거 데이터 밖에 없다. */
				/*T1.eqp_stat_pcg_rst_gen_dt >= current_timestamp - interval '12 hour'*/
				T1.eqp_stat_pcg_rst_gen_dt >= current_date /* 오늘 날짜 데이터만 가져 올 수 있도록 처리함(20170920) */
				/*T1.eqp_stat_pcg_dt <![CDATA[ >= ]]> '2017-05-26 12:00:00' and T1.eqp_stat_pcg_dt <![CDATA[ <= ]]> '2017-05-26 24:00:00'*/
		
		), alarm_str1 as (
		
			select
				decode(alarm_cnt, 0, '0', '1') as alarm_str
			from 
				(
				select
					count(1) as alarm_cnt
				from
					trModRes	T1
					left join
					tm3DEqpMap	T2
					on T1.eqp_ast_cd = T2.ASSET_CODE
					left join
					tmL2ObjMap	T3
					on T2.OBJ_ID = T3.OBJ_ID
					, inVal
				where
					T1.eqp_stat_pcg_rst_ac_tp = '1'
					and T1.eqp_stat_pcg_rst_tp in ('3', '4')
					and T3.l2_gid = inVal.l2_gid
				)
		), alarm_str2 as (
			select
				decode( max(P2.eqp_stat_pcg_rst_tp), '3', '1', '4', '2', '0' ) as alarm_str
			from 
				(
				
					select
						T1.eqp_stat_id
						, T4.eqp_stat_pcg_mdl_s_id
					from
						posfaci.tb_o26_sesp020	T1
						join
						tm3DEqpMap	T2
						on T1.eqp_ast_cd = T2.ASSET_CODE
						left join
						tmL2ObjMap	T3
						on T2.OBJ_ID = T3.OBJ_ID
						left join
						posfaci.tb_o26_sesp040	T4
						on T1.eqp_stat_id = T4.eqp_stat_id
						, inVal
					where
						T1.eqp_stat_tp_id in ('98', '99')
						and T3.l2_gid = inVal.l2_gid
				
				) P1
				left join
				trModRes P2
				on P1.eqp_stat_pcg_mdl_s_id = P2.eqp_stat_pcg_mdl_s_id
			group by
				P1.eqp_stat_id
			order by
				P1.eqp_stat_id
				
		)
		select
			string_agg(alarm_str, '') as alarm_str
		from 
			(
			select alarm_str from alarm_str1 union all
			select alarm_str from alarm_str2
			)
	</GETL2CMSALARM>
	<GETOPRYN>
		/* O26S42 NUI 3DCommMapper.getL2OprYn 2열연조업이력조회 by 김경식   */
		SELECT 
			string_agg(isrunning, '' order by late_update_time) opr_yn
			, min(late_update_time) s_time
			, max(late_update_time) e_time 
		FROM  
			posfaci.tb_o26_sphb240 a 
		WHERE 
			EXISTS 
				( 
					SELECT 
						1  
					FROM 
						(  
							SELECT 
								to_char(to_timestamp(late_update_time, 'yyyyMMddhh24mi') - interval '1440 minute', 'yyyyMMddhh24mi') s_time
								, late_update_time e_time   
							FROM 
								posfaci.tb_o26_sphb240   
							ORDER BY 
								late_update_time DESC
							limit 1  
						) b 
					WHERE 
						a.late_update_time BETWEEN b.s_time AND b.e_time
				)
	</GETOPRYN>
	<GETREDISTAGMETA>
		select 
			transaction_code		/* TC명 */
			, std_trs_msg_nm_seq	/* 항목순서 */
			, standard_english_id	/* 표준항목영문명 */
			, standard_korean_name	/* 표준항목한글명 */
			, std_trs_msg_nm_seq1	/* 하둡저장순서 */
			, standard_english_id3	/* 수신항목ID */
		from   
			posbizp.tb_m00s21_s_tagmeta_010_std
		where  
			transaction_code = '%s' /* TC명 */
		order by 
			std_trs_msg_nm_seq
		for read only
	</GETREDISTAGMETA>
	<GETFRADATA>
		with sectionData as (

			select
				cd_nm	   as sectionNM 
				, cd_expl2 as sectionID /* sectionID */
				, cd_expl4 as fceDiv	/* 가열로구분 */
			from
				posfaci.tb_o26_scom100
			where
				cd_tp = '3D_SECTION_TP'
				and cd_expl4 = '%s'
		
		), eqpStatPcgRstTp as (	/* 공통테이블의 설비상태예지결과구분 코드 값.. */
		
			select
				cd_v	as eqp_stat_pcg_rst_tp
				, cd_nm	as eqp_stat_pcg_rst_nm
			from
				posfaci.tb_o26_scom100
			where
				cd_tp = 'EQP_STAT_PCG_RST_TP'
				
		), eqpStatPcgData as (		/* 설비상태예지 결과 테이블 데이터 */
		
			select
				T4.sectionNM
				, T4.sectionID
				, T4.fceDiv
				, T2.eqp_mntr_sec_tp			/*설비모니터링섹션구분코드*/
				, T1.eqp_stat_pcg_mdl_s_id 		/*설비상태예지설장ID*/
				, T1.eqp_stat_pcg_rst_tp		/*설비상태예지결과구분 1:None, 2:Normal, 3:Warning, 4:Critical, 5:Warning+Critical */
				, T3.eqp_stat_pcg_rst_nm		/*설비상태예지결과명*/
			from
				sectionData		T4
				left join
				posfaci.tb_o26_sesp040	T2
				on	T4.sectionID = T2.eqp_mntr_sec_tp
				left join
				posfaci.tb_o26_sesp050	T1
				on	T2.eqp_stat_pcg_mdl_s_id = T1.eqp_stat_pcg_mdl_s_id and T1.eqp_stat_pcg_rst_gen_dt >= current_date 
				left join
				eqpStatPcgRstTp	T3
				on	T1.eqp_stat_pcg_rst_tp = T3.eqp_stat_pcg_rst_tp
				
		), divInfo as (
		
			select	sectionID, sectionNM
			from	eqpStatPcgData
			group by	sectionNM, sectionID
			
		), nomalCntInfo as (
		
			select	sectionID, sectionNM, count(1) as nomal_cnt
			from	eqpStatPcgData
			where	eqp_stat_pcg_rst_tp = 2
			group by	sectionNM, sectionID
			
		), warningCntInfo as (
		
			select	sectionID, sectionNM, count(1) as warning_cnt
			from	eqpStatPcgData
			where	eqp_stat_pcg_rst_tp = 3
			group by	sectionNM, sectionID
			
		), criticalCntInfo as (
		
			select	sectionID, sectionNM, count(1) as critical_cnt
			from	eqpStatPcgData
			where	eqp_stat_pcg_rst_tp = 4
			group by	sectionNM, sectionID
		
		)
		select
			T1.sectionID
			, T1.sectionNM
			, (coalesce(T2.nomal_cnt, 0) + coalesce(T3.warning_cnt, 0) + coalesce(T4.critical_cnt, 0)) as total_cnt
			, coalesce(T2.nomal_cnt, 0) as nomal_cnt
			, coalesce(T3.warning_cnt, 0) as warning_cnt
			, coalesce(T4.critical_cnt, 0) as critical_cnt
		from
			divInfo	T1
			left join
			nomalCntInfo	T2
			on T1.sectionID = T2.sectionID
			left join
			warningCntInfo	T3
			on T1.sectionID = T3.sectionID
			left join
			criticalCntInfo	T4
			on T1.sectionID = T4.sectionID
	</GETFRADATA>
</query>